# Path-based git attributes
# https://www.kernel.org/pub/software/scm/git/docs/gitattributes.html

/test               export-ignore
/Gemfile            export-ignore
/.editorconfig      export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/.kitchen.yml       export-ignore
